proforma-regexptest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="urn:proforma:tests:regexptest:v1" targetNamespace="urn:proforma:tests:regexptest:v1" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:element name="regexptest">
		<xs:complexType>
            <xs:sequence>
				<xs:element name="main-class" type="xs:string" minOccurs="1"/>
				<xs:element name="parameter" type="valuelist" minOccurs="0"/>
					<xs:simpleType name="valuelist">
						<xs:list itemType="xs:string"/>
					</xs:simpleType>
				<xs:element name="regexp" type="xs:string" minOccurs="1"/>
				<xs:element name="timeout" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:positiveInteger">
							<xs:minInclusive value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>