proforma-jartest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="urn:proforma:tests:jartest:v1" targetNamespace="urn:proforma:tests:jartest:v1" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:element name="jartest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="parameter" type="xs:string" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="framework" type="xs:string" use="required"/>
            <xs:attribute name="version" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
